{% extends 'base.html' %}

{% block contenido %}
{% load static %}
<title>Administrar</title>

<main>
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-5">
            <h2 class="text-dark panel-admin">Panel de Administración</h2>
            <a href="{% url 'agregarProducto' %}" class="btn btn-success btn-lg mx-4">Agregar +</a>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th class="text-dark">Código</th>
                        <th class="text-dark">Nombre</th>
                        <th class="text-dark">Precio</th>
                        <th class="text-dark">Stock</th>
                        <th class="text-dark">Categoría</th>
                        <th class="text-dark">Descripción</th>
                        <th class="text-dark">Imagen</th>
                        <th class="text-dark">Editar</th>
                        <th class="text-dark">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for producto in productos %}
                    <tr>
                        <td class="align-middle">{{ producto.codigo }}</td>
                        <td class="align-middle">{{ producto.nombre }}</td>
                        <td class="align-middle">{{ producto.precio }}</td>
                        <td class="align-middle">{{ producto.stock }}</td>
                        <td class="align-middle">{{ producto.categoria }}</td>
                        <td class="align-middle">{{ producto.descripcion }}</td>
                        {% if producto.imagen %}
                        <td class="align-middle">
                            <img src="{{ producto.imagen.url }}" style="height: 100px; width: 100px;">
                        </td>
                        {% else %}
                        <td class="align-middle">
                            <img src="{% static 'img/sinimagen.jpg' %}" style="height: 100px; width: 100px;">
                        </td>
                        {% endif %}
                        <td class="align-middle">
                            <a href="{% url 'editarProducto' producto.codigo %}" class="btn btn-primary">Editar</a>
                        </td>
                        <td class="align-middle">
                            <a href="{% url 'eliminarProducto' producto.codigo %}" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script src="{% static 'js/main.js' %}"></script>
</main>

{% endblock %}