{% extends 'base.html' %}

{% block contenido %}
{% load static %}
<title>Buscador</title>
<main>
  <section class="weather-content">
    <h1>Buscador del clima</h1>
    <div class="result">
      <h5>Clima en Chile</h5>

      <h2>0°C</h2>
      <p>Max: 0°C</p>
      <p>Min: 0°C</p>
    </div>

    <form action="" method="POST" class="get-weather">
      <input type="text" name="city" id="city" placeholder="Escribe la ciudad">
      <select name="" id="country">

        <option disabled selected value="">Selecciona el país</option>
        <option value="CL">Chile</option>
        <option value="AR">Argentina</option>
        <option value="CO">Colombia</option>
        <option value="ES">España</option>
        <option value="EU">Estados Unidos</option>
        <option value="MX">México</option>
        <option value="PE">Perú</option>
      </select>
      <input type="submit" name="" id="" value="Get Weather">
    </form>
  </section>
</main>

<script src="{% static 'js/api.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
{% endblock %}