{% extends 'base.html' %}

{% block contenido %}
{% load static %}
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/calculadora.js' %}"></script>
    <script src="{% static 'js/formulario.js' %}"></script>
    <title>Contacto</title>

<main class="carrusel">
    <form id="formulario">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre"><br>
        <span id="nombreError" class="error-message"></span><br>

        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" name="apellido"><br>
        <span id="apellidoError" class="error-message"></span><br>

        <label for="fechaNacimiento">Fecha de nacimiento:</label>
        <input type="date" id="fechaNacimiento" name="fechaNacimiento"><br>
        <span id="fechaNacimientoError" class="error-message"></span><br>

        <label for="contrasena">Contraseña:</label>
        <input type="password" id="contrasena" name="contrasena"><br>
        <span id="contrasenaError" class="error-message"></span><br>

        <label for="repetirContrasena">Repetir contraseña:</label>
        <input type="password" id="repetirContrasena" name="repetirContrasena"><br>
        <span id="repetirContrasenaError" class="error-message"></span><br>

        <input type="submit" value="Enviar">
        <br>
        <input type="reset" value="Limpiar campos">
    </form>

    <div class="cuerpo">
        <div class="calculadora">
            <div class="pantalla">0</div>
            <button id="c" class="btn">C</button>
            <button id="borrar" class="btn">←</button>
            <button class="btn">/</button>
            <button class="btn">*</button>
            <button class="btn">7</button>
            <button class="btn">8</button>
            <button class="btn">9</button>
            <button class="btn">-</button>
            <button class="btn">4</button>
            <button class="btn">5</button>
            <button class="btn">6</button>
            <button class="btn">+</button>
            <button class="btn">1</button>
            <button class="btn">2</button>
            <button class="btn">3</button>
            <button id="igual" class="btn">=</button>
            <button id="cero" class="btn">0</button>
            <button class="btn">.</button>
        </div>
    </div>
    
</main>

{% endblock %}