<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <link rel="preload" href="{% static 'css/estilos.css' %}" as="style">
  <link rel="stylesheet" href="{% static 'css/estilos.css' %}">

  <title>Inicio</title>
</head>

<body><!--Menu de navegacion-->
  <header>
    <img class="logo" src="{% static 'img/logo-trans.png' %}" alt="Logo">
    <button id="abrir" class="abrir-menu"><i class="bi bi-list"></i></button>
    <nav class="nav" id="nav">
      <button class="cerrar-menu" id="cerrar"><i class="bi bi-x"></i></button>
      <ul class="nav-list">
        <li><a href="{% url 'inicio' %}">Inicio</a></li>
        <li><a href="{% url 'nosotros' %}">Nosotros</a></li>
        <li><a href="{% url 'tienda' %}">Tienda</a></li>
        <li><a href="{% url 'contacto' %}">Contacto</a></li>
        <li><a href="{% url 'buscador' %}">Buscador</a></li>
      </ul>
    </nav>
  </header>

  <script src="{% static 'js/main.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
    crossorigin="anonymous"></script>
</body>


<main class="carrusel">
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators d-flex justify-content-center">
      <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
      <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'img/cachorros.jpg' %}"" alt=" Imagen 1" class="d-block w-100 img-fluid">
      </div>
      <div class="carousel-item">
        <img src="{% static 'img/gatos.jpg' %}" alt="Imagen 2" class="d-block w-100 img-fluid">
      </div>
      <div class="carousel-item">
        <img src="{% static 'img/perro1.jpg' %}" alt="Imagen 3" class="d-block w-100 img-fluid">
      </div>
    </div>
  </div>


</main>

<footer><!--footer-->
  <div class="enlaces">
    <a href="#"><i class="bi bi-facebook"></i></A>
    <a href="#"><i class="bi bi-twitter"></i></a>
    <a href="#"><i class="bi bi-youtube"></i></a>
    <a href="#"><i class="bi bi-instagram"></i></a>
    <a href="#"><i class="bi bi-linkedin"></i></a>
  </div>
  <hr>
  <div>
    © 2023 Copyright:
    <a class="text-white" href="#">Paul Arellano-Luis Laborie.</a>
  </div>
</footer>

</html>