{% extends 'base.html' %}

{% block contenido %}
{% load static %}
<title>Inicio</title>

<main>
  <div id="carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'img/carousel1.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2>Descubre el encanto otoñal</h2>
          <p class="parrafo-carousel">Explora el otoño con estilo y cuidado en nuestra tienda de mascotas. Comida, accesorios y productos para consentir a tu compañero fiel</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'img/carousel4.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2>Seamos PETLOVERS!</h2>
          <p class="parrafo-carousel">Descubre la comodidad de comprar desde casa y encuentra todo lo que necesitas para brindarles amor y cuidado a tus compañeros peludos</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'img/carousel3.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2>Oferta de fin de otoño</h2>
          <p class="parrafo-carousel">Descuento de un 15% en todas las camas de la tienda</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>



  <div class="container">
    <div class="row g-5">
      <div class="col-md-6">
        <img src="{% static 'img/contenidoinicio2.jpg' %}" alt="Imagen 1" class="img-fluid rounded">
        <p class="text-justify mt-3 parrafo-carousel">¡Bienvenido a Corazones Peludos, tu tienda web de confianza para todas las necesidades de tus adorables mascotas! Nos emociona brindarte una experiencia excepcional en la que podrás encontrar una amplia variedad de productos de alta calidad, desde comida nutritiva y accesorios elegantes hasta juguetes divertidos y camas acogedoras. Nuestro compromiso es asegurarnos de que tus peludos compañeros sean tratados con el amor y el cuidado que se merecen. Ya sea que tengas un perro juguetón, un gato curioso o cualquier otra mascota, estamos aquí para ayudarte a proporcionarles todo lo que necesitan para una vida feliz y saludable. Explora nuestra tienda en línea y descubre el mundo de posibilidades que tenemos preparado para ti y tus amados corazones peludos.</p>
      </div>
      <div class="col-md-6">
        <img src="{% static 'img/contenidoinicio1.jpg' %}" alt="Imagen 2" class="img-fluid rounded">
        <p class="text-justify mt-3 parrafo-carousel">Nada se compara al amor incondicional que nos brindan nuestras queridas mascotas. Con su lealtad, alegría desbordante y miradas tiernas, llenan nuestros corazones de felicidad y nos enseñan el verdadero significado del amor. Cada lamida, cada ronroneo y cada cola que mueven con entusiasmo nos recuerdan lo especiales que son. Nos acompañan en cada paso de nuestro camino, brindándonos compañía y consuelo en los momentos más difíciles. Su presencia nos llena de gratitud y nos enseña a ser mejores seres humanos. El amor por las mascotas es un lazo eterno, una conexión profunda que trasciende las palabras y nos envuelve en un amor puro y sincero. Aman sin juicio, perdonan sin reservas y nos enseñan a valorar las cosas simples de la vida. Nuestras mascotas son un regalo precioso que merece ser celebrado y protegido. ¡Honremos su amor incondicional y brindémosles todo el cuidado y cariño que se merecen!</p>
      </div>
    </div>
  </div>
  
  
  
</main>

<script src="{% static 'js/main.js' %}"></script>
{% endblock %}
