{% extends 'base.html' %}

{% block contenido %}
{% load static %}
<title>Nosotros</title>

<main>
  <div class="container">
    <div class="text-center">
      <img src="{% static 'img/logoweb2.2.png' %}" class="img-fluid my-3 mx-auto w-25 d-none d-md-block" alt="Imagen">
      <img src="{% static 'img/logoweb2.2.png' %}" class="img-fluid my-3 mx-auto w-75 d-md-none" alt="Imagen">
    </div>
    <div>
      <h2 class="text-center font-weight-bold">CONOCE UN POCO MÁS</h2>
    </div>
    <section class="servicio">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="{% static 'img/mision.jpg' %}" class="img-fluid my-4 rounded" alt="Imagen">
          </div>
          <div class="col-md-6 my-4 align-self-center">
            <h2 class="font-weight-bold">Nuestra Misión</h2>
            <p>
              Nuestra misión es proteger y mejorar la vida de los animales en situación de vulnerabilidad y
              promover su bienestar. Nos esforzamos por crear conciencia sobre el trato ético y respetuoso
              hacia los animales y su importancia en nuestra sociedad. Trabajamos para brindar atención y
              cuidado a los animales abandonados, maltratados o en riesgo, proporcionándoles un hogar
              seguro y amoroso. También colaboramos con otras organizaciones y comunidades para fomentar
              el desarrollo de políticas públicas que promuevan el bienestar animal. Nos esforzamos por
              crear un mundo donde los animales sean tratados con compasión y respeto.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="servicio">
      <div class="container">
        <div class="row">
          <div class="col-md-6 my-4 align-self-center">
            <h2 class="font-weight-bold">Nuestra Visión</h2>
            <p>
              Nuestra visión es un mundo donde todos los animales sean tratados con respeto, compasión y
              consideración, sin importar su especie, raza o condición. Trabajamos para crear una sociedad
              donde el bienestar animal sea una prioridad y donde las personas tomen conciencia de la
              importancia de la protección de los animales y su entorno. Nos esforzamos por ser una
              organización líder en la promoción de la protección animal y en la creación de políticas
              públicas que aseguren su bienestar. Deseamos que cada animal tenga un hogar seguro y
              amoroso, y que se les brinde el cuidado que merecen. Nuestra visión es un mundo donde los
              humanos y los animales puedan convivir en armonía y respeto mutuo.
            </p>
          </div>
          <div class="col-md-6">
            <img src="{% static 'img/vision.jpg' %}" class="img-fluid my-4 rounded" alt="">
          </div>
        </div>
      </div>
    </section>
    
    <div class="row">
      <div class="col-12 my-4">
        <div class="text-center">
          <h4 class="font-weight-bold">El valor de la sensibilización por los animales</h4>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/IRvn-is9xjo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    
    
    <script src="{% static 'js/main.js' %}"></script>
</main>

{% endblock %}


