{% extends 'base.html' %}

{% block contenido %}
{% load static %}
<title>Tienda</title>
{% load humanize %}
<main>
  <div class="container">
    <h2 class="titulo-productos">Nuestros productos</h2>
    <br>
    <div class="row">
      {% for producto in productos %}
      <div class="col-12 col-md-3 col-sm-4">
        <div class="card">
          {% if producto.imagen %}
          <img src="{{ producto.imagen.url }}" class="card-img-top mx-auto img-fluid">
          {% else %}
          <img src="{% static 'img/sinimagen.jpg' %}" class="card-img-top mx-auto imagen">
          {% endif %}
          <div class="card-body">
            <h4 class="card-title">{{ producto.nombre }}</h4>
            <p class="card-text descripcion">{{ producto.descripcion }}</p>
            <p class="card-text precio">Precio: ${{ producto.precio }}</p>
            <a href="#" class="btn btn-comprar">Comprar</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</main>

<script src="{% static 'js/main.js' %}"></script>
{% endblock %}

